[Unit]
Description=Go magic mirror startup
After=network.target
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi
ExecStart=/home/pi/go-magic-mirror

[Install]
WantedBy=multi-user.target
