body {
  color: white;
  text-align: left;
}

.progressDiv {
  width: 100%;
  display: flex;
}

.progress {
  background-color: red;
  height: 3em;
  display: inline-block;
}

.progressSpan {
  text-align: top;
}


body {
  text-align: center;
  margin: auto;
  background-color: black;
}