@import './weather-icons.scss';
@font-face {
  font-family: 'Roboto';
  src: 
  url("../../public/Roboto-Regular.ttf");
}

.progressDiv{
  width:100%;
  display: flex;
  .progressSpan {
    vertical-align:top;
    margin-right:5px;
  }
}
.progress {
  background-color:red;
  transition: width 0.05s linear;
  height:3em;
  display:inline-block;
}

body {
  text-align: center;
  margin: auto;
  background-color:black;
  color: white;
  text-align:left;
  font-family: 'Roboto';
}
